// 常用公共样式
body {
  //   background-color: @body-bg;
}

.border {
  border: 2px solid rgba(190, 190, 190, 0.788);
}

// 鼠标样式
.cursor-pointer {
  cursor: pointer;
}

.f14 {
  font-size: 14px;
}

.h-10 {
  height: 10% !important;
}

.h-40 {
  height: 40% !important;
}

.h-50 {
  height: 50% !important;
}

.h-100 {
  height: 100% !important;
}

.w-20 {
  width: 20% !important;
}

.w-30 {
  width: 30% !important;
}

.w-40 {
  width: 40% !important;
}

.w-100 {
  width: 100% !important;
}
